@import 'variables';

html, body {
  padding: 0;
  margin: 0;
  background: var(--color-primary);
}

body, input, button, select, textarea {
  font-family: var(--font-face);
  font-size: var(--font-size);
  font-weight: normal;
  color: var(--color-text);
  border-radius: var(--border-radius);
}

h1 {
  font-size: 42px;
}

.form-group {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.form-group-50 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    & > * {
      width: calc(50% - 10px)
    }
  }

}

.multiselect.is-active {
  box-shadow: none;
}

.multiselect-option.is-selected.is-pointed, .multiselect-option.is-selected {
  background: var(--color-primary);
}

.multiselect-options {
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);

  .multiselect-option:last-child {
    border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
  }
}

.multiselect-dropdown {
  overflow: auto;
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
}

div {
  box-sizing: border-box;
}

#header {
  height: var(--header-height);
}

.form-group {
  display: block;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.page {
  padding: 0 var(--padding-box) 0 0;
  transition: opacity var(--transition-duration);

  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .page-sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
  }

  .page-content {
    width: calc(100% - var(--sidebar-width));
    background: var(--color-white);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: var(--padding-box);
    box-shadow: var(--box-shadow);
    height: calc(100vh - var(--header-height));
    overflow: auto;

    & > .simplebar-track {
      top: 36px !important;
      bottom: 6px !important;
    }
  }
}

.simplebar-scrollbar:before {
  background: var(--border-color) !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  .menu-item {
    position: relative;

    a {
      box-sizing: border-box;
      padding: 14px;
      width: calc(var(--sidebar-width) - 8px);
      margin: 0 4px 4px 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
      text-decoration: none;
      transition: background-color var(--transition-duration);
      position: relative;

      img {
        width: 28px;
        height: auto;
        display: block;
        margin: 0 auto;
      }

      .menu-tooltip {
        opacity: 0;
        z-index: 2;
        font-size: 12px;
        color: var(--color-white);
        text-align: center;
        position: absolute;
        top: 0;
        left: 45px;
        padding: 6px 8px 6px 14px;
        border-radius: var(--border-radius);
        background: var(--color-primary-dark);
        transition: opacity var(--transition-duration);
      }

      &:hover .menu-tooltip {
        z-index: 2;
        opacity: 1;
      }

      &.active {
        background: var(--color-white-opacity10);
        border-radius: var(--border-radius);
      }

      &:hover {
        background: var(--color-primary-dark);
        border-radius: var(--border-radius);
      }
    }
  }
}

.v-popper--theme-dropdown .v-popper__inner {
  border-radius: var(--border-radius) !important;
}

